.m-nav > .m-nav__item > .m-nav__link.m-nav__link--icon .m-nav__link-icon {
  width: auto;
  text-align: center;
}

.m-subheader__breadcrumbs.m-nav > .m-nav__separator {
  margin-left: 5px;
  margin-right: 5px;
}
